#header{display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #c20a6f38;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
  }
  /*Header start*/
  #navbar{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
  
  }
  #navbar li a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color:lightcoral;
  transition: 0.3 ease;
  }

  #navbar li a:hover,
  #navbar li a.active{
    color: aquamarine;

  }
  .head h1{
  font-size: 16px;
  font-weight: 600;
  color: aqua;
  } 
  .cartAmount {
    position: absolute;
    top: -15px;
    right: -10px;
    font-size: 16px;
   // background-color: #c20a6f38;
    color: white;
    padding: 3px;
    border-radius: 3px;
  }
  #navbar li a.active::after,#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    position: absolute;
    bottom: -4px;
    left: 20px;
  }
  #cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
  }
  #cart table img{
    width: 100px;
  }
  #cart table thead{
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
  }
  #cart table thead td{
   font-weight: 700;
   text-transform: uppercase;
   font-size: 13px;
    padding: 18;
  }



  /*footer*/
  footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  footer h4{
  font-size: 14px;
  padding-bottom: 12px;
  }
  footer p{
    font-size: 14px;
    margin 0 0 8px 0;
    }
    footer a{
      font-size: 13px;
      text-decoration: none;
      color: #222;
      margin-bottom: 10px;
      }
      footer .col-insert img{
        margin: 10px 15px 0;
      }
      footer.copyright{
        width: 100%;
        text-align: center;
      }